@import "tailwindcss";

@theme {
  --color-bio-pink: #FF0054;
  --color-bio-light: #D1D5DB;
}

.corner-box::before,
.corner-box::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid white;
}

/* Top-left */
.corner-box::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

/* Bottom-right */
.corner-box::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.link {
  position: relative;
  text-decoration: none;
  color: white;
}

.link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: red;
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}



@keyframes scrollY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scrollY {
  animation: scrollY 5s linear infinite;
}


@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollRight {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-left {
  animation: scrollLeft 25s linear infinite;
}

.animate-right {
  animation: scrollRight 25s linear infinite;
}